.container {
    width: 100vw;
    margin-bottom: 110px;
    display: flex;
    justify-content: center;
}

.contact-main {
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: column;

} 

.contact-top {
    margin: 50px 0 0;
    display: flex;
    justify-content: start;
    text-transform: uppercase;
    color: #FFBE51;
    font-size: 30px;
}

.contact-container {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-container form {
    margin-right: 40px;
    width: 400px;
    display: flex;
    flex-direction: column
}

.contact-container input, .contact-container textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 6px 15px;
}

.contact-container button {
    margin: 18px 0 0;
    padding: 5px;
    border: 0;
    background: #FFBE51; 

    color: white;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;

    cursor: pointer;
    transition: all 0.5s linear;
}

.contact-container button:hover {
    color: #FFBE51;
    background: white; 
    box-shadow: inset 0 0 2px 1px #FFBE51;
}

.contact-info {
    margin-left: 40px;
    width: 500px;
}

.contact-info p{
    margin: 0 0 20px;

    text-transform: uppercase;
    line-height: 24px;
}

.contact-info iframe {
    width: 100%;
    height: 205px;
}

@media (max-width: 1060px) {

    .contact-main {
        align-items: center;
        width: 100;
    }

    .contact-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .contact-container form {
        margin: 0;
    }

    .contact-container form {
        width: 60vw;
    }
    .contact-info {
        width: 60vw;
        margin-top: 40px;
        margin-left: 0;
    }
}