
.services-top {
    margin: 50px 0 0;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #FFBE51;
    font-size: 30px;
}

.services-offers {
    display: flex;
    justify-content: center;
}

.services-offers .container {
    width: 80%;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.services-offers .container hr {
    width: 100%;
    border: 2px solid #C4C4C4;

}

 .services-offers .offers {
    width: 1000px;
    padding: 40px;
    margin: 20px 0;
    align-items: center;

    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
} 

.services-offers image {
    width: 500px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.services-offers .text {
    width: 500px;
    max-width: 500px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    
} 


.services-offers .offers .title {
    margin-bottom: 10px;
    display: inline-flex;
    align-items: baseline;
    flex-wrap: wrap;

} 

.services-offers .offers h2 {
    margin: 0 15px 0 0;
    font-size: 30px;
    text-transform: uppercase;
}

.services-offers .offers span {
    font-size: 22px;
    margin-bottom: 10px;
    align-items: center;
}

.services-offers .offers button {
    width: 250px;
    margin: 18px 0 0;
    padding: 5px;
    border: 0;
    background: #FFBE51; 

    color: white;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;

    cursor: pointer;
    transition: all 0.5s linear;
}

.services-offers .offers button:hover {
    color: #FFBE51;
    background: white; 
    box-shadow: inset 0 0 2px 1px #FFBE51;

}


@media (max-width: 1060px) {

    .services-offers .offers {
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width: 900px) {

    .services-offers .offers {
        align-items: center;
    }

    .text {
        margin-left: 20px;
    }

    .title {
        flex-direction: column;
        align-items: center;
    }

    .offers button {
        align-self: center;
    }

    .offers img {
        margin: 0 0 20px;
        align-self: center;
    }

}

@media (max-width: 750px) {
    .services-offers .offers {
        flex-wrap: wrap;
        justify-content: center;
    }

    .offers .text {
        width: 70vw;
        margin: 0 30px 0 0;
    }

} 