@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

/********** GLOBAL **********/

* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFBE51;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    padding: 0;
    margin: auto;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img {
    margin: 15px 0;
}

a {
    text-decoration: none;
    color: white;
}

header .navigation ul {
    padding: 0 15px;
    display: flex;
    align-items: center;
}

header .navigation ul li{
    margin: 30px;

    font-weight: 800;
    font-size: 20x;
    text-align: center;
    text-transform: uppercase;
    list-style: none;

    cursor: pointer;
}

.sections {
    display: flex;
    justify-content: center;
}

/************* FOOTER *************/

footer p {
    text-transform: uppercase;
}

footer .container {
    background-color: #FFBE51;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    padding: 30px 110px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer .contact {
    margin: 0 25px 25px;
}

footer .map {
    margin: 0 25px;
}

.copyright p {
    margin: 0;
    padding: 15px;
    background: #C4C4C4;

    text-align: center;

}

/*********** BANNER ***********/

.banner {
    width: 1000px;
    margin: 170px 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.banner .text{
    width: 500px;
}

.banner .text h1 {
   
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
}

.banner img, .info img {
    width: 499px;
}

/************* SERVICES *************/

.services-section {
    background-color: #E5E5E5;
    padding: 0;
}

.services {
    margin: 40px 0;
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services h2 {
    margin: 35px 0 0;;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 400;
}

.offers {
    padding: 35px 0 35px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.offer-img {
    max-width: 180px;
    display: flex;
    justify-content: center;
}

.offers article {
    max-width: 210px;
    padding: 15px;
     transition: all .2s linear;
}
.offers article:hover{
    background-color: #f3f3f3;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}

.offers img {
    max-width: 180px;
}
    
.prices a {
    color: black;
    text-decoration: none;
    transition: all .2s linear;
    }

.prices a:hover, a:focus {
    color: #494949;
    }

.prices p {
    font-size: 22px;
    font-weight: 700;
    margin: 2px 0;
}

.prices span {
    font-size: 20px;
    font-weight: 400;
    margin: 2px 0;
}

/************* INFO *************/

.info {
    width: 1000px;
    margin: 170px 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.info .text {
    width: 400px;
}

.info img {
    width: 500px;
}

@media (max-width: 1060px) {
    header {
        padding: 0;
        margin: auto;
    }

    header img {
        margin: 15px;
    }

    header .navigation ul li {
        margin: 15px;
    }

   footer .container {
       flex-wrap: wrap;
       justify-content: space-evenly;
   }

   /* CONTENT */
   .banner {
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }

   .banner .text {
    width: 80%;
    }

    .offers {
        justify-content: space-evenly;
    }


    .info .text, .info img  {
        margin: 30px;
    }

    .info .text {
        width: 500px;
    
    }

}

@media (max-width: 900px) {
    header {
        flex-wrap: wrap;
    }

    footer .container{
        justify-content: space-around;
    }

    .info .text, .info img  {
        margin: 30px 0;
    }

    .offers {
        flex-direction: column;
        align-items: center;
    }
   
}

@media (max-width: 550px) {
    header {
        flex-wrap: wrap;
    }


  header ul {
      flex-wrap: wrap;
      justify-content: center;
  }

  .banner img, .info img {
      width: 350px;
  }

  .info {
      width: 70vw;
  }

}